<html>
<head>
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="container">
        <h1>Chat Application</h1>
        <div class="row">
            <!-- Bağlı olan kullanıcıları gösterme kısmı-->
            <div class="col-md-4 scrollit">
                <table class="table">
                        <tr>
                            <th>Users</th>
                        </tr>
                    <tbody id="users"></tbody>
                </table>
                <button id="logout" style="color:black"><font color=white>Logout</font></button>
            </div>
            <div id="message_box" class="col-md-8 " style="visibility:hidden;">
              <div class="row-md-10 ">
                <div class="message_holder" id="messages">
                </div>
              </div>
              <div class="message_send_box row row-md-2">
                <div class="col-md-10 ">
                  <input type="text" id="message" class="message form-control" placeholder="Messages">
                </div>
                  <div class="col-md-2">
                  <button type="submit" id="send" class="btn btn-block btn-success"><span class="glyphicon glyphicon-send"></span>Send</button>
                </div>
              </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.3-1-1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
    <script type="text/javascript">
        var room_state = '';
        var user_chat_array = [];
        $(document).ready(function () {
            namespace = "/chat";
            var base_url = location.protocol + '//' + document.domain + ':' + location.port;
            var my_username = window.location.pathname.split('/')[1];
            var socket = io.connect(base_url + namespace);
            var requested_user = '';
            /// kullanıcı listesine dict formatında username gönderilir.
            socket.on('connect', function () {
                socket.emit('register', { user: my_username });
            });
            socket.on('my ping', function(){
              socket.emit('mypong', my_username)
            })
            socket.on('update user list', function(msg){
              var user_list = '';
              for(var it in msg)
              {
                console.log(msg)
                if (it == my_username)
                {
                    user_list += '<tr><td><a href="#"><font color=red><span class="glyphicon glyphicon-user"></span> ' + it +'</td></tr></font>';
                } else {
                  if(msg[it].state == "online"){
                    user_list += '<tr><td><a href="#" class="user-list" data-id="' + it + '"><span class="glyphicon glyphicon-user"></span> ' + it + '       [ONLINE]</td></tr>';
                  }else{
                    user_list += '<tr><td><a href="#" class="user-list" data-id="' + it + '"><font color=gray><span class="glyphicon glyphicon-user"></span> ' + it + '       [OFFLINE]</td></tr></font>';
                  }
                }
              }
              $('#users').html(user_list)
            });

            //connect and disconnect
            socket.on('user_response', function (msg) {
                if (msg.type == 'connect') {
                    var user_list = '';
                    users = msg.data.users
                    for(var it in users)
                    {
                      console.log(users)
                      if (it == my_username)
                      {
                          user_list += '<tr><td><a href="#"><font color=red><span class="glyphicon glyphicon-user"></span> ' + it +'</td></tr></font>';
                      } else {
                        if(users[it].state == "online"){
                          user_list += '<tr><td><a href="#" class="user-list" data-id="' + it + '"><span class="glyphicon glyphicon-user"></span> ' + it + '       [ONLINE]</td></tr>';
                        }else{
                          user_list += '<tr><td><a href="#" class="user-list" data-id="' + it + '"><font color=gray><span class="glyphicon glyphicon-user"></span> ' + it + '       [OFFLINE]</td></tr></font>';
                        }
                      }
                    }
                    $('#users').html(user_list)
                } else if (msg.type == 'exists') {
                    window.location.href = base_url + "/?exists=1";
                }
            });
            // kullanıcı listesinden bir kullanıcıya tıkladığı anda çalışacak olan kısım
            $(document).on('click', '.user-list', function () {
                var user_name = $(this).data('id');
                console.log(user_name);
                socket.emit('private_message_request', { user: user_name, me: my_username });
                return false;
            });


            $("#logout").click(function(){
              socket.emit('logout',my_username)
            });
            socket.on('chat_request',function(msg){
              var ans = window.confirm(msg+' sizinle sicak bir sohbete girmek istiyor.')
              socket.emit('permission', {
                perm: ans,
                user: msg,
                me: my_username
              });
              if(ans == true){
                $("#messages").empty();
                $("#message_box").attr("style","visibility:visible");
                requested_user = msg;
              }
            });

            socket.on('allowed', function(msg){
              $("#message_box").attr("style","visibility:visible");
              requested_user = msg.user;
            });
            socket.on('already_allowed', function(msg){
              $("#message_box").attr("style","visibility:visible");
              requested_user = msg.user;
            });
            $('#send').click(function(){
              if($('#message').val() != '' && $('#message').val() != null && requested_user != ''){
                socket.emit('sendmessage', {
                  me: my_username,
                  user: requested_user,
                  data: $('#message').val()
                });
              }
            });
            socket.on('take_message', function(msg){
              $('#messages').append(msg.data)
            });
        })
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
</body>
</html>
